{% extends 'base.html' %}
{% block content %}

<center>

	
	{% for index in range(forms | count) %}
	<form id = gpiCtrl_{{index}} action="{{url_for('gpiCtrl')}}" method="post" novalidate>
		<input type ="hidden" name="which-form" value = "form_{{index}}">
		{{ forms[index].csrf_token() }}
		{{ forms[index].form_id }}
		{{ forms[index].gpi_id.stream_id.label }} {{ forms[index].gpi_id.stream_id }}
		{{ forms[index].gpi_id.setbut(class="toggle", size=32) }}


		{{ forms[index].active(size=32) }}		
		{{ forms[index].testbut(size=32) }} {{ forms[index].logbut(size=32) }}
	</form>
	</br>	
	{% endfor %}
	
</center>

{% endblock %}